.label {
    font-family: Serif;
    -fx-font-size: 25px;
    -fx-text-fill: #0011ff;
}

.button {
    font-family: Serif;
    -fx-font-size: 20px;
    -fx-background-color: #0011ff;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-background-radius: 20px;

}
.text-field {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.anchor{
    -fx-background-image:url('../images/background.jpg');
}
.combo-box-base {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-radius: 20px;

}

.combo-box-base:focused{
    -fx-border-color: #0011ff;
    -fx-text-fill: #0011ff;
}

.text-field:focused{
    -fx-text-fill: #0011ff;
    -fx-border-color: #0011ff;

}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #0011ff;
    -fx-border-color: #0011ff;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

#lbTop{
    -fx-text-fill: red;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}